<div class="containers">
    <div class="row">
        <div class="judul">
            <div class="subjudul">
                <h1>Welcome,confess ur feeling here Be honest, be yourself</h1>
                <h2>--trust your self--</h2>
            </div>
        </div>

        <div class="message">
            <a href="/submit" class="btns">Send message</a>
            <a href="/browse" class="btnb">Browse message</a>
        </div>

    <!-- information -->
    <div class="information">
        <div class="sendmessage msg">
            <p>Send Message</p>
            <p>You can send a message to anyone you like.  
            Express what’s in your heart freely.  
            No need to hide what you truly feel.</p>
            </div>

            <div class="sendmessage msg">
            <p>Browse Message</p>
            <p>Explore the thoughts people have shared.  
            Read their confessions one by one.  
            Find comfort in knowing you’re not alone.</p>
            </div>

            <div class="sendmessage msg">
            <p>Detail Message</p>
            <p>Dive deeper into a single confession.  
            Understand the emotion behind each word.  
            Every message has its own unique story.</p>
            </div>
    </div>

    </div>

    




</div>





