<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    
    <nav>
            <div class="logo">
                <h1>ini logo</h1>
            </div>
            <div class="row">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/submit">Submit</a></li>
                    <li><a href="/Browse">Browse</a></li>
                </ul>
            </div>

        </nav>

    <div class="containerrs">
        <%- body %>
        <footer>
            <h2>&copy Laipann 2025</h2>
        </footer>
    </div>

</body>
</html>




